@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #12121c;
  color: #f5f5fa;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  min-height: 100vh;
}
