anyio
bcrypt
click
email-validator
fastapi
httpx
passlib[bcrypt]
pydantic-settings
pydantic[email]
pyjwt
pytest
python-dotenv
python-jose
python-multipart
sqlalchemy
starlette
typing-extensions
uvicorn
